
.menu{
    width: 100vw;
    height: 48px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 24px;
    padding: 0 24px;
    z-index: 100;
}
.menu a{
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    color: black;
}
.menu_left{
    gap: 8px;
}
.menu .logo{
    z-index: 50;
}

.menu_right{
    display: flex;
    gap: 8px;
    padding-right: 16px;
}

.menu_right .navigation{
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    height: 48px;
    align-items: center;
    box-sizing: border-box;
    padding: 1px;
    border: 1px solid #fff;
    backdrop-filter: blur(10px); 
}

.menu_right .navigation a {
    display: block;
    line-height: 46px;
    padding: 0 24px ;
    border-radius: 6px;
}

.menu_right .navigation a:hover{
    background-color: #ffffff;
}

.navigation .dropdown{
    position: relative;
    display: inline-block;
}

.dropdown:hover .submenu {
    display: block;
}

.dropdown .submenu{
    background-color: #fff;
    display: none;
    position: absolute;
    top: 115%;
    width: calc(100% + 80%); /* 父選單 +80% */
    margin-left: 0px; /* 對齊父選單 */
    border-radius: 8px;
}

/* --------------language------------------ */
.language .language-default{
    color: #ffffff;
    backdrop-filter: blur(10px); 
    height: 46px;
    border: 1px solid #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    position: relative;
}

.language li{
    display: none;
    background-color: #fff;
    color: black;
    position: absolute;
    top: 115%;
    width: 66px;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    margin-left: 0px;
}
.language:hover li{
    display: block;
}
/* --------------member------------------ */
.member {
    position: relative;
    display: inline-block;
}

.member .login-btn{
    background-color: rgba(255, 255, 255, 0.8);
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border-style:none;

    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #ffffff;
}

.member .dropbtn:hover .login{
    display: block;
}
/* --------------member:login------------------ */
.login{
    display: none;
    position: absolute;
    top: 115%;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #fff;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-right: 0px;
    right: 0;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

.login .required::after{
    content: " *";
    color: #ff2190;
}

.login.show {
    display: block;
}

/* ----------form------------ */
.login .form{
    display: flex;
    flex-direction: column;
}

.member .login h6{
    font-weight: 500;
    margin-bottom: 24px;
    justify-content:center;
}

.member .login .required{
    font-size: 14px;
    letter-spacing: 2px;
    padding: 16px 0;
}
.member .login .form input{
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 12px;
    border: none;
    border-radius: 4px;
}
.member .form-check{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}
.member .form-check-label{
    font-size: 12px;
}
.member .form-check a{
    font-size: 12px;
    color: #5559FF;
}

.member form button{
    margin-top: 32px;
    color: #ffffff;
    background-color: #5559FF;
    border-radius: 4px;
    padding: 12px;
    border: none;
    letter-spacing: 2px;
}

.member .signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.member .signup p{
    font-size: 12px;
}
.member .signup a{
    font-size: 12px;
    color: #5559FF;
}
.member .product-signup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 24px;
}
.member .login .product-signup small{
    color : #555;
    letter-spacing : 2px;
}

.member .login .product-signup button{
    margin-top: 16px;
    color: #5559FF;
    border: 1px solid #5559FF;
    border-radius: 4px;
    padding: 12px;
    letter-spacing: 2px;
    width: 100%;
}
/* ---------------------mobile-nav----------------------- */

.mobile .hamburger{
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #fff;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 12px;
    
    display: flex;
    align-content: center;

    position: fixed;
    right: 24px; 
    top: 24px;
    z-index: 6;
    display: none;
} 

.mobile .hamburger .bar {
    background-color: #141414 ;
    width: 100%;
    height: 2px;
    margin: 4px 0;
}

.mobile .hamburger .bar2 {
    background-color: #141414 ;
    width: 80%;
    height: 2px;
    margin: 4px 0;
}

.hamburger.active .bar1{
    width: 120%;
    transform: rotate(30deg) translate(0px, 7px);
}
.hamburger.active .bar2{
    opacity: 0;
}
.hamburger.active .bar3{
    width: 120%;
    transform: rotate(-30deg) translate(0px, -7px);
}

/* -----------------mobile-menu------------------- */
.mobile-menu {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: #151515;
    padding: 96px 24px;
    transform: translateY(100%);
    transition: transform 1s ease;
    z-index: 5;
}
.mobile-menu.show {
    display: block;
    transform: translateY(0);
}
.mobile-menu .mobile-menu-content {
    padding: 64px 0;
    margin: 0 auto;
    /* display: flex; */

}

.mobile-menu ul li {
   padding: 12px 0;
}

.mobile-menu > ul > li > a {
    box-sizing: border-box;
    font-size: 40px;
    letter-spacing: 4px;
    color: white;
    text-decoration: none;
}

.mobile-menu-content .submenu{
    display: none;
}

.mobile-menu-content .othersmenu{
    padding: 80px 0 40px 0 ;
}
.mobile-menu-content .othersmenu a{
    font-size: 24px;
    text-decoration: none;
    color: #b7b7b7;
    letter-spacing: 4px;
}
.mobile-menu-content > a{
    font-size: 16px;
    text-decoration: none;
    color: #b7b7b7;
    letter-spacing: 4px;
    box-sizing: border-box;
    padding: 8px 16px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}
/* ---------------------rwd----------------------- */

@media screen and (max-width: 992px){
    .header-contact{
        display : none;
    }
    .mobile .hamburger{
        display: block;
    }
    .menu .menu_right{
        display : none;
    }
}
